USE [master]
GO
/****** Object:  Database [HireMe]    Script Date: 29/07/2016 9:39:33 ******/
CREATE DATABASE [HireMe] ON  PRIMARY 
( NAME = N'HireMe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SCDTICPC20\MSSQL\DATA\HireMe.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HireMe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SCDTICPC20\MSSQL\DATA\HireMe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HireMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HireMe]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoryPost]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdPostJob] [int] NULL,
 CONSTRAINT [PK_HistoryPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostJob]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostJob](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[LogoType] [nvarchar](50) NULL,
	[Active] [int] NULL,
	[DatePublish] [datetime] NULL,
	[Token] [nvarchar](100) NULL,
	[Description] [nvarchar](50) NULL,
	[EmailReference] [nvarchar](50) NULL,
	[DueDate] [datetime] NULL,
	[IdTypeJob] [int] NULL,
	[IdCategory] [int] NULL,
 CONSTRAINT [PK_PostJob] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeJob]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeJob](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeJob] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeUser]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 29/07/2016 9:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Token] [nvarchar](100) NULL,
	[Active] [int] NULL,
	[IdTypeUser] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HistoryPost]  WITH CHECK ADD  CONSTRAINT [FK_HistoryPost_PostJob] FOREIGN KEY([IdPostJob])
REFERENCES [dbo].[PostJob] ([Id])
GO
ALTER TABLE [dbo].[HistoryPost] CHECK CONSTRAINT [FK_HistoryPost_PostJob]
GO
ALTER TABLE [dbo].[HistoryPost]  WITH CHECK ADD  CONSTRAINT [FK_HistoryPost_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[HistoryPost] CHECK CONSTRAINT [FK_HistoryPost_User]
GO
ALTER TABLE [dbo].[PostJob]  WITH CHECK ADD  CONSTRAINT [FK_PostJob_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[PostJob] CHECK CONSTRAINT [FK_PostJob_Category]
GO
ALTER TABLE [dbo].[PostJob]  WITH CHECK ADD  CONSTRAINT [FK_PostJob_TypeJob] FOREIGN KEY([IdTypeJob])
REFERENCES [dbo].[TypeJob] ([Id])
GO
ALTER TABLE [dbo].[PostJob] CHECK CONSTRAINT [FK_PostJob_TypeJob]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeUser] FOREIGN KEY([IdTypeUser])
REFERENCES [dbo].[TypeUser] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeUser]
GO
USE [master]
GO
